<div class="login-Data">
  <div class="form-login">
    <div class="card flex justify-content-center">
      <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="user" />
        <label htmlFor="username">Username</label>
      </span>
    </div>

    <div class="card flex justify-content-center">
      <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
    </div>

    <div>
      <button pButton label="Log in" (click)="saveData()"></button>
    </div>
  </div>
</div>
